/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-maj-04, 13:43:31
    Author     : johanwendt
*/

body {
  //  background-image: url("Pictures/dry.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#canvasId{
    background-image: url("Pictures/dry.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid #55F;
   // z-index: 0;
}


#weaponInfo {
   transform: translate(820px,-600px);
}
#playerInfo {
 // position: absolute;
 // top: 20%;
  //transform: translateY(-500%);
  //transform: translateX(450%);
   transform: translate(820px,-600px);
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

#newGame {
  // transform: translate(220px,-100px);
}
#joinRoom {
  // transform: translate(120px,-200px);
}


#gameRoomBackground {
    position: absolute;
    transform: translate(200px,500px);
}