/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-maj-04, 13:43:31
    Author     : johanwendt
*/

body {
    //  background-image: url("Pictures/dry.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#canvasId{
    background-image: url("Pictures/dry.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid #55F;
    // z-index: 0;
}


#weaponInfo {
    transform: translate(820px,-600px);
}
//#playerInfo {
// position: absolute;
// top: 20%;
//transform: translateY(-500%);
//transform: translateX(450%);
// transform: translate(820px,-600px);
//}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}



#gameRoomBackground {
    position: absolute;
    transform: translate(200px,500px);
}
#joinedGameRoomInfo {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 500px;
    border: 3px solid #73AD21;
    background-color: lightblue;
    
    
}
#gameRoomInfo {
    position: fixed;
    top: 50px;
    left: 300px;
    width: 200px;
    height: 500px;
    border: 3px solid #73AD21;
    background-color: lightblue;
}
#playerInfo {
    position: fixed;
    top: 50px;
    left: 550px;
    width: 200px;
    height: 500px;
    border: 3px solid #73AD21;
    background-color: lightblue;
}
/**
#newGame {
    position: absolute;
    right:    0;
    bottom:   0;
    z-index: 100;
}
#joinRoom{
    position: absolute;
    right:    80px;
    bottom:   0;
    z-index: 100;
}
**/
#startGame{
    position: absolute;
    right:    0;
    bottom:   0;
    z-index: 100;
}

#newGameContainer {
    position: absolute;
    left:    0;
    bottom:   0;
    
}