/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-maj-04, 13:43:31
    Author     : johanwendt
*/

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
}

#canvasId{
    background-image: url("Pictures/dry.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid #55F;

    border-left: 10px solid #ccc;
    border-top: 10px solid #ccc;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    opacity: 0.4;
}


#weaponInfo {
    transform: translate(820px,-600px);
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}



#joinedGameRoomInfo {
    position: absolute;
    top: 50px;
    left: 50px;

}

#gameRoomInfo {
    position: absolute;
    top: 50px;
    left: 300px;

   // overflow: scroll;
}

#buttonContainer {
    position: absolute;
    right:    0;
    bottom:   110px;
    //background-color: lightblue;
}

#playerInfoOuter {
    position: absolute;
    top: 50px;
    left: 550px;
}

#masterContainer {
    position:absolute;
    top:50%;
    left:50%;
    //padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#escMenu {
    position:absolute;
    top:50%;
    left:50%;
    //padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


button {
    position: absolute;
    right:    0;
    bottom:   0;

    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    color:#333;
    background-color:#b48608;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:none;
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:16px;
    font-weight:700;
    height:36px;
    width: 100%;
    padding:4px 16px;
    text-shadow:#FE6 0 1px 0
}
button:disabled {
    opacity: 0.6;
}

select {
    display: table;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
   // width: 170px;
    height: 24px;
    overflow: hidden;
    // background: url("Pictures/AppleSeed.png") no-repeat right #ddd;
    border: 1px solid #ccc;
    background-color:#b48608;
}


p { 
    color: #f2f2f2; background: #ff4a4a; font-size: 24px; line-height: 23px; 
    font-weight: 700; margin: 0 2px 8px; float: left; padding: 4px;
    margin: 0 2px 8px; font-family: 'Libre Baskerville', serif; display: block;
}

h1 { 
    color: #000; font-family: 'Droid serif', serif; font-size: 36px;
    font-weight: 400; font-style: italic; 
    line-height: 44px; margin: 0 0 12px; text-align: center; 
    background-color:#b48608;
    
}

h2 { 
    color: #f2f2f2; background: #b48608; font-size: 24px; line-height: 23px; 
    font-weight: 700; margin: 0 2px 8px; float: left; padding: 4px;
    margin: 0 2px 8px; font-family: 'Libre Baskerville', serif; display: block;
}

h3 { 
    color: #f2f2f2; background: #b48608; font-size: 24px; line-height: 23px; 
    font-weight: 700; margin: 0 2px 8px; float: left; padding: 4px;
    margin: 0 2px 8px; font-family: 'Libre Baskerville', serif; display: block;
}

.outerContainer {
    
    width: 200px;
   // width: 200px;
   height: 80%;
    //height: 500px;

    background-image: url("Pictures/dry.jpg");

    border-left: 10px solid #ccc;
    border-top: 10px solid #ccc;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
}
.innerLowerContainer {
    //width: 90%;
    
    position: absolute;
    left:    0;
    bottom:   0;
    height: 90px;
    width: 180px;
    border-left: 10px solid #ccc;
    border-top: 10px solid #ccc;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    background-image: url("Pictures/dry.jpg");
}

.innerUpperContainer {
    position: absolute;
    top:   0;
    left:   0;
    height: 400px;
    width: 100%;
    //width: 200px;
    overflow-y: auto;
}

.innerMiddleContainer {
    width: 100%;
}
